<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - AviTech</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Logotipo de AviTech">
            <h1>AviTech</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('quienes_somos') }}">Quiénes Somos</a></li>
                <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
                <li><a href="{{ url_for('noticias') }}">Noticias</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
              </ul>
        </nav>
    </header>

    <section id="contacto">
        <h2>Contáctanos</h2>
        <form action="enviar_formulario.php" method="POST">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <textarea name="mensaje" placeholder="Mensaje" required></textarea>
            <button type="submit">Enviar</button>
        </form>

        <div class="info-contacto">
            <p><strong>Dirección:</strong> Av. Juan Bautista Zona: Trujillo Distrito: 4, Ciudad: El Alto</p>
            <p><strong>Teléfono:</
